<p>voterdashboard works!</p>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>voter dasboard</title>
</head>
<body>
    <div class="container">
        <br>
        <div class="card">
        <div class="row">
            <div class="col-md-4" style="margin-left:0px;background-color:rgba(2, 48, 71, 1); color:white;align-items:center; height:auto;border-radius:10px;font-size:10px !important;">
                <br><br>
                <div class="d-flex">
                    <div class="image">
                <img src="" alt="" width="200px">
                </div>
                <div class="head">
                    <h2>voter 1</h2>
                </div>
                <br><br><br><br><br>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <h5><a href=""class="text-white" style="text-decoration:none;">Update profile</a></h5>
                <br>
                <br>
                <br>
                <br>
                <a routerLink="/voter-register"> <button type="button" class="btn mt-5 text-center "
            style="background-color:#219ebc;color:023047;border-radius:8px;width:fit-content; height:auto;">
            <h3 class="p-3">LOGIN</h3>
          </button></a>
                <!-- <button type="button" class="btn btn-md btn-info ml-5">login</button> -->
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            </div>
            <div class="col-md-5"style="border:none;margin-left: 20px;">
                <br><br>
                <br><br><br>
                <div class="card shadow border p-3"style="width: 500px;margin: 50px; background-color: rgba(217, 217, 217, 1); height:auto;">
                        <tbody>
                            <tr>
                                <td><img src="" alt=""></td>
                                <td>Campus Representatives</td>
                            </tr>
                        </tbody>
                        <br><br><br>
                </div>
                <div class="card shadow border p-3"style="width: 500px;margin: 50px; background-color: rgba(217, 217, 217, 1); height:auto;">
                        <tbody>
                            <tr>
                                <td><img src="" alt=""></td>
                                <td>Campus Vice-Reps</td>
                            </tr>
                        </tbody>
                        <br><br><br>
                </div>
            </div>
        </div>
        </div>
    </div>
</body>
</html>
