
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>

<div class="container-fluid">
<div class="row pb-5">
  <div class="col-md-6 col-lg-6">
    <img src="/assets/Work time-amico.png" class="img-fluid" alt="Admin Image">

  </div>
  <div class="col-md-6 col-lg-6 form-admin">
    <main class="form-signin  m-auto ">
      <form [formGroup]="form" (submit)="submit()">
        
        <h1 class="h3 mb-3 fw-normal text-center">Admin SignUp</h1>
  
        <div class="form-floating mt-3">
          <input formControlName="name" type="name" class="form-control" id="floatingInput" placeholder="johndoe">
          <label for="floatingInput">Name</label>
        </div>
  
        <div class="form-floating mt-3">
          <input formControlName="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
  
        <div class="form-floating mt-3">
          <input formControlName="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
    
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <div class="btns mt-5">
          <button class="w-100 btn btn-lg" type="submit">Register</button>
          <button class="w-100 btn btn-lg " type="submit" routerLink="/admin-login">Login</button>
        </div>
        
        
      </form>
    </main>
  </div>
</div>


</div>
  

  <!-- Bootstrap JavaScript -->

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
    integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
    integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous">
  </script>
 
</body>

</html>



<!-- <main class="form-signin">
  <form class="form">
    <h1 class="h3 mb-3 fw-normal">Please register</h1>
    <div class="form-floating">
      <input formControlName="name" class="form-control" placeholder="Name">
      <label>Name</label>
    </div>
    <div class="form-floating">
      <input formControlName="email" type="email" class="form-control" placeholder="name@example.com">
      <label>Email address</label>
    </div>
    <div class="form-floating">
      <input formControlName="password" type="password" class="form-control" placeholder="Password">
      <label>Password</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
  </form>
</main> -->
  <!-- <div class="container">
    <p class="signin">Sign in</p>
    <p class="signin-text">Please sign in using your details</p>
    
    <input #email name="email" type="email" placeholder="Email Address">
    <br />
    <input #password name="password" type="password" placeholder="Password" required >
  
    <button (click)="signupUser()">Sign In</button>
    
  </div> -->