<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candidates</title>
</head>

<body>
    <!-- sidebar -->
    <div class="container">
        <br>
        <div class="card">
            <div class="row">
                <div class="col-md-4"
                    style="margin-left:10px;background-color:rgba(2, 48, 71, 1); color:white; width:fit-content; height:auto;border-radius:10px;font-size:10px !important;">
                    <br><br>
                    <div class="d-flex">
                        <div class="image">
                            <img src="" alt="" width="200px">
                        </div>
                        <div class="head">
                            <h2>Administrator</h2>
                        </div>
                        <br><br><br><br><br>
                    </div>
                    <!-- {{ route('votercreate') }} -->
                    <h5><a href="" class="text-white" style="text-decoration:none;">Votes</a></h5>
                    <br>
                    <br>
                    <h5><a href="" class="text-white" style="text-decoration:none;">Voters</a></h5>
                    <br>
                    <br>
                    <h5><a href="" class="text-white" style="text-decoration:none;">Manage</a></h5>
                    <br>
                    <br>
                    <br>
                    <h5><a href="" class="text-white" style="text-decoration:none;">Position</a></h5>
                    <br>
                    <br>
                    <h5><a href="" class="text-white" style="text-decoration:none;">Candidates</a></h5>
                    <br>
                    <br>
                    <h5><a href="" class="text-white" style="text-decoration:none;">Ballot-Position</a></h5>
                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                </div>
                <div class="col-md-5" style="border:none;margin-left: 20px;">
                    <div class="buttons d-flex">
                        <div class="button1">
                            <a href="" class="btn btn-primary">No. Of Positions</a>
                        </div>

                        <div class="button2">
                            <a href="" class="btn btn-primary">No. Of Candidates</a>
                        </div>

                        <div class="button3">
                            <a href="" class="btn btn-primary">No. Of Voters</a>
                        </div>

                        <div class="button4">
                            <a href="" class="btn btn-primary">VotesCasted</a>
                        </div>

                    </div>
                    <br>
                    <br>
                    <h2>Voter Tally</h2>
                    <br>
                    <div class="card">
                        <h4>Campus President</h4>
                        

                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</body>
</html>






