<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candidates</title>
</head>
<body>
    <!-- sidebar -->
    <div class="container">
        <br>
        <div class="card">
        <div class="row">
            <div class="col-md-4" style="margin-left:10px;background-color:rgba(2, 48, 71, 1); color:white; width:fit-content; height:auto;border-radius:10px;font-size:10px !important;">
                <br><br>
                <div class="d-flex">
                    <div class="image">
                <img src="" alt="" width="200px">
                </div>
                <div class="head">
                    <h2>Administrator</h2>
                </div>
                <br><br><br><br><br>
                </div>
                <h5><a href=""class="text-white" style="text-decoration:none;">Votes</a></h5>
                <br>
                <br>
                <h5><a href=""class="text-white" style="text-decoration:none;">Voters</a></h5>
                <br>
                <br>
                <h5><a href=""class="text-white" style="text-decoration:none;">Manage</a></h5>
                <br>
                <br>
                <br>
                <h5><a href=""class="text-white" style="text-decoration:none;">Position</a></h5>
                <br>
                <br>
                <h5><a href=""class="text-white" style="text-decoration:none;">Candidates</a></h5>
                <br>
                <br>
                <h5><a href=""class="text-white" style="text-decoration:none;">Ballot-Position</a></h5>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            </div>
            <div class="col-md-5"style="border:none;margin-left: 20px;">
                <br><br>
                <h2 class="ml-5">Candidates</h2>
                <button type="button" class="btn btn-md btn-info ml-5">+Add</button>
                <br><br><br>
                <div class="card shadow border p-3"style="width: 500px; background-color: rgba(217, 217, 217, 1); height:auto;">
                    <table>
                        <thead>
                            <th>Image</th>
                            <th>Position</th>
                            <th>Bio</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td><img src="" alt=""></td>
                                <td>President</td>
                                <td>President is Uhunye</td>
                                <td>Delete/</td>
                            </tr>
                        </tbody>
                        <br><br><br>
                    </table>
                </div>
            </div>
        </div>
        </div>
    </div>
</body>
</html>